---
interface MenuList {
  option: string;
  link: string;
}

interface Props {
  list: MenuList[];
}

const { list } = Astro.props;
---

<ul
  class="w-1/3 flex justify-between font-semibold text-text *:transition-all *:cursor-pointer max-lap:hidden"
>
  {list.map((menu) => <li class="hover:text-secondary">{menu.option}</li>)}
</ul>
