---
import MainButton from "@/components/MainButton.astro";
import NavbarList from "./NavbarList.astro";
import NavbarHiddenMenu from "./NavbarHiddenMenu.astro";

interface MenuList {
  option: string;
  link: string;
}

const menuList: MenuList[] = [
  {
    option: "Inicio",
    link: "/",
  },
  {
    option: "Servicios",
    link: "/",
  },
  {
    option: "Software",
    link: "/",
  },
  {
    option: "Blog",
    link: "/",
  },
  {
    option: "Nosotros",
    link: "/",
  },
];
---

<nav
  class="flex justify-between items-center h-16 py-2 relative bg-background drop-shadow-md lg:px-16 md:px-12 sm:px-8 max-sm:px-4"
>
  <img src="Logo.svg" alt="logo" class="h-8 cursor-pointer max-md:h-7" />
  <NavbarList list={menuList} />
  <div class="flex gap-8 items-center">
    <MainButton scale={true}> Agenda tu cita </MainButton>
    <NavbarHiddenMenu />
  </div>
</nav>
