<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Templates</title>
  </head>
  <body>
    <div id="container"></div>
  </body>
  <script>
    import { templateHTML } from "@/utils/emailTemplate";
    const tempDiv = document.createElement("div");
    tempDiv.innerHTML = templateHTML();
    const container = document.getElementById("container");
    container?.appendChild(tempDiv);
  </script>
</html>
