---
import Layout from "../layouts/Layout.astro";
import Hero from "@/IndexPage/Hero/Hero.astro";
import Navbar from "@/IndexPage/Navbar/Navbar.astro";
import Form from "@/IndexPage/Form/Form.astro";
import Advantages from "@/IndexPage/Advantages/Advantages.astro";
import Banner from "@/IndexPage/Banner/Banner.astro";
import Services from "@/IndexPage/Services/Services.astro";
import Tech from "@/IndexPage/Tech/Tech.astro";
import CallToAction from "@/IndexPage/CallToAction/CallToAction.astro";
import Footer from "@/IndexPage/Footer/Footer.astro";
import BackLines from "../components/BackLines.astro";
---

<Layout title="Welcome to Astro.">
  <BackLines />
  <Navbar />
  <div
    class="w-10 h-10 max-sm:bg-red-300 max-md:bg-blue-300 max-lg:bg-green-300 lg:bg-yellow-300 fixed"
  >
  </div>
  <main class="margin-container transition-all">
    <Hero />
    <Form />
    <Advantages />
    <Banner />
    <Services />
    <Tech />
    <CallToAction />
    <Footer />
  </main>
</Layout>
