---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Home/Navbar.astro";
import Hero from "../components/Home/Hero.astro";
import Form from "../components/Home/Form.astro";
import Advantages from "../components/Home/Advantages.astro";
import Banner from "../components/Home/Banner.astro";
import Services from "../components/Home/Services.astro";
import Tech from "../components/Home/Tech.astro";
import CallToAction from "../components/Home/CallToAction.astro";
import Footer from "../components/Home/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-sm:mx-4 max-md:mx-8 max-lg:mx-20 lg:mx-[120px]">
    <Navbar />
    <Hero />
    <Form />
    <Advantages />
    <Banner />
    <Services />
    <Tech />
    <CallToAction />
    <Footer />
  </main>
</Layout>
