---
import ArrowDown from "../Utils/Icons/ArrowDown.astro";
---

<section class="max-h-96 py-8">
  <ArrowDown />
  <div class="h-full py-8 px-16 bg-primary grid grid-cols-2 rounded-xl">
    <div class="bg-red-200">Texto</div>
    <div class="bg-blue-200">Formulario</div>
  </div>
</section>
