---
import IconContainer from "../Utils/IconContainer.astro";
---

<section class="w-full h-[744px] py-8 grid grid-cols-2">
  <div class="flex flex-col justify-center">
    <h4 class="text-secondary mb-2">/TODO TIPO DE MARCAS Y MODELOS</h4>
    <h1 class="text-primary mb-10">
      Servicio de <span class="text-secondary">Mantenimiento</span> y <span
        class="text-secondary">Reparaciones</span
      > Avanzadas
    </h1>
    <p class="mb-10">
      Taller privado, sala de espera cómoda, servicio a domicilio, historial de
      reparaciones y seguimiento en tiempo real. ¡Descubre la excelencia con
      nosotros!
    </p>
    <ul
      class="flex gap-8 *:flex *:flex-col *:items-center *:gap-y-2 *:w-24 text-center"
    >
      <IconContainer description="Mantenimiento" icon="Wrench" />
      <IconContainer description="Planchado y pintura" icon="Painting" />
      <IconContainer description="Servicio Eléctrico" icon="Idea" />
      <IconContainer description="Reparación de Motor" icon="Engine" />
    </ul>
  </div>
  <div class="h-[750px] overflow-y-clip pl-8">
    <img src="hero-optimized.png" alt="hero-image" class="h-full max-w-none" />
  </div>
</section>
