---
interface Props {
  background: string;
  rounded?: string;
}

const { background, rounded } = Astro.props;
---

<div
  class=`w-16 h-16 flex justify-center items-center ${rounded} ${background} drop-shadow`
>
  <slot />
</div>
