---
import ServiceList from "./ServiceList.astro";
import HeroHeader from "./HeroHeader.astro";
import HeroImage from "./HeroImage.astro";
import Wrench from "@/icons/Hero/Wrench.astro";
import Painting from "@/icons/Hero/Painting.astro";
import Idea from "@/icons/Hero/Idea.astro";
import Engine from "@/icons/Hero/Engine.astro";

const subtitle = "/TODO TIPO DE MARCAS Y MODELOS";

const description =
  "Taller privado, sala de espera cómoda, servicio a domicilio, historial de reparaciones y seguimiento en tiempo real. ¡Descubre la excelencia con nosotros!";

type Service = {
  icon: React.ComponentType;
  description: string;
};

const serviceList: Service[] = [
  {
    icon: Wrench,
    description: "Mantenimiento General",
  },
  {
    icon: Painting,
    description: "Planchado y Pintura",
  },
  {
    icon: Idea,
    description: "Servicio Eléctrico",
  },
  {
    icon: Engine,
    description: "Reparación de Motor",
  },
];
---

<section
  class="w-full wea py-8 grid grid-cols-1 items-center max-md:text-center md:grid-cols-2"
>
  <main class="flex flex-col justify-evenly max-h-[744px] gap-y-5">
    <HeroHeader subtitle={subtitle} />
    <article>
      {description}
    </article>
    <ul
      class="max-sm:px-10 flex max-md:flex-wrap gap-8 max-md:justify-center *:flex *:flex-col *:items-center *:gap-y-2 *:w-24 z-20"
    >
      <ServiceList list={serviceList} />
    </ul>
  </main>
  <HeroImage />
</section>

<style>
  .wea {
    height: calc(100vh - 8rem);
  }
</style>
