---
const { subtitle } = Astro.props;
---

<header>
  <h4 class="text-secondary mb-2 max-md:font-semibold">
    {subtitle}
  </h4>
  <h1 class="text-primary max-sm:text-[3.25rem]">
    Servicio de <span class="text-secondary">Mantenimiento</span> y <span
      class="text-secondary">Reparaciones</span
    > Automotriz
  </h1>
</header>
