---
import AdvantagesHeader from "./AdvantagesHeader.astro";
import AdvantagesMenu from "./AdvantagesMenu.astro";
import { headerData, menuData } from "@/data.ts";
---

<section class="px-8 py-16 flex flex-col gap-16">
  <AdvantagesHeader
    title={headerData.title}
    description={headerData.description}
  />
  <AdvantagesMenu menuData={menuData} />
</section>
