---
import Quality from "@/icons/Advantages/Quality.astro";
const title = "El Taller Automotriz Más Confiable";
const description =
  "Descubre cómo en Fana combinamos experiencia y tecnología para ofrecerte un servicio automotriz excepcional. Disfruta de atención personalizada, supervisión experta, y conveniencia con nuestros servicios a domicilio y plataforma tecnológica.";
---

<section class="px-8 py-16 bg-red-200">
  <div class="flex flex-col gap-16">
    <div>
      <h3 class="pb-4">{title}</h3>
      <p>{description}</p>
    </div>
    <div>
      <menu>
        <li>
          <Quality />
          Experiencia
        </li>
        <li>
          <!-- <CarIcon /> -->
          Especialización
        </li>
        <li>
          <!-- <Idea /> -->
          Personalización
        </li>
        <li>
          <!-- <DeliveryIcon /> -->
          Delivery
        </li>
        <li>
          <!-- <Speedometer /> -->
          Innovación
        </li>
      </menu>
    </div>
  </div>
</section>
