---
const { description } = Astro.props;
---

<div class="container grid grid-cols-2 items-center gap-10">
  <div>
    <h3 class="pb-4">Confiando en la Experiencia</h3>
    <article>{description}</article>
  </div>
  <img
    src="/Photos/experience.webp"
    alt="Campeon2004"
    class="h-80 rounded-xl justify-self-center"
  />
</div>
